<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.cloud.provider.mapper.SiArticleMapper">
  <resultMap id="BaseResultMap" type="com.kevin.cloud.provider.domain.SiArticle">
    <!--@mbg.generated generated on Thu Jan 23 12:08:34 CST 2020.-->
    <!--@Table si_article-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mc" jdbcType="VARCHAR" property="mc" />
    <result column="wgrs" jdbcType="BIGINT" property="wgrs" />
    <result column="content" jdbcType="BLOB" property="content" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="pl" jdbcType="BIGINT" property="pl" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="category" jdbcType="BIGINT" property="category" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="titlepic" jdbcType="VARCHAR" property="titlepic" />
    <result column="visibility" jdbcType="VARCHAR" property="visibility" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="fbzt" jdbcType="VARCHAR" property="fbzt" />
    <result column="sfdm" jdbcType="VARCHAR" property="sfdm" />
    <result column="es_id" jdbcType="VARCHAR" property="esId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Jan 23 12:08:34 CST 2020.-->
    id, mc, wgrs, content, bz, `type`, title, pl, keywords, `describe`, category, tags, 
    titlepic, visibility, create_date, create_by, update_date, update_by, del_flag, fbzt, 
    sfdm, es_id
  </sql>

  <select id="queryArticleList" resultType="com.kevin.cloud.commons.dto.article.dto.ArticleDto" parameterType="com.kevin.cloud.commons.dto.article.vo.ArticleVo">
    SELECT
    m.*
    FROM
    (SELECT
    t.id,
    t.`mc`,
    t.wgrs,
    t.`content`,
    t.`del_flag`,
    t.`es_id`,
    t.`describe`,
    t.`pl`,
    t.`title`,
    t.type,
    t.`bz`,
    t.category AS category,
    n.lmmc as categoryName,
    t.`tags`,
    t.`titlepic`,
    t.`visibility`,
    t.`create_date` AS createDate,
    m.`username` createBy,
    t.`update_date` AS updateDate,
    t.`update_by` AS updateBy,
    t.`fbzt`,
    t.`sfdm`
    FROM
    si_article t
    LEFT JOIN ums_admin m
    ON t.`create_by` = m.id
    LEFT JOIN si_column n ON n.id  = t.`category`
    ) m
    WHERE 1 = 1
    <if test="mc != null and mc != ''">
      and m.mc like concat(concat('%',#{mc}),'%')
    </if>

    ORDER BY m.createDate DESC
  </select>

  
</mapper>